<!DOCTYPE html>
<html>
	<head>
		<title>SkeleGame.com - Game</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
	</head>
	<body>
	<div>
		<ul id="navbar">
			<li><a href="/">Home</a></li>
			<li><a href="guide">How to Play</a></li>
			<li><a href="game">Game</a></li>
			<li><a class="active" href="scores">Highscores</a></li>
		</ul>
	</div>
	
	<div id="content-area">
		<div id="title">
			<img src="./images/title.png" alt="Skeletons vs. Zombies TD" class="centered img">
		</div>
		<div id="main-content">
			<table class="hs-table centered">
					<tr>
						<th>Rank</th>
						<th>Players</th>
						<th>Score</th>
						<th>Wave</th>
					</tr>
                    <tr>
                        <td rowspan="2" style="text-align:center;"> 1 </td> 
                        <td rowspan="2" style="text-align:center;">OR3X <br> ByrdMan</td>
                        <td style="text-align:center;">5000 <br> 2000</td> 
                        <td style="text-align:center;">26</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="text-align:center;"> 1 </td> 
                        <td rowspan="2" style="text-align:center;">OR3X <br> ByrdMan</td>
                        <td style="text-align:center;">5000 <br> 2000</td> 
                        <td style="text-align:center;">26</td>
                    </tr>
				</table>
		</div>
	</div>
	</body>
	<footer>
	Website by Nicholas Brown
	</footer>
	</html>
